html {
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility;
}
.journey {
    min-width: 1550px;
    width: 100%;
    background: url("../imgs/bg.png") center center no-repeat fixed;
    background-size: cover;
    font-family: Verdana,sans-serif;
    box-sizing: border-box;
    min-height: 785px;
}
.head-title {
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4);
}
.navbar {
    width: 1450px;
    margin: 0 auto;
    line-height: 3;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    float: left;
    position: relative;
    top: 7px;
}
h1:hover {
    color: green;
}
.nav-text {
    color: white;
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-top: 5px;
    position: relative;
    bottom: -6px;
}
.nav-log-sign {
    color: green;
    text-transform: capitalize;
}
.nav-log-sign:hover {
    text-decoration: underline;
}
.icons-link {
    display: inline-block;
    margin-right: 35px;
    position: relative;
    top: -19px;
    left: 978px;
    /*width: 141px;*/
    /*height: 48px;*/
    /*background: url(../imgs/header-sprites.png) no-repeat;*/
}
.icons-link1 {
    display: inline-block;
    width: 30px;
    height: 40px;
    position: absolute;
    left: 91px;
    background: url(../imgs/css_sprites-last.png) -5px -79px no-repeat;
}
.icons-link2 {
    display: inline-block;
    width: 30px;
    height: 39px;
    left: 44px;
    position: absolute;
    background: url(../imgs/css_sprites-last.png) -9px -39px no-repeat;
}
.icons-link3 {
    display: inline-block;
    width: 22px;
    height: 36px;
    position: absolute;
    background: url(../imgs/css_sprites-last.png) -10px 1px no-repeat;
}
.icons-link1:hover {
    background: url(../imgs/ic_journey@1X.png) 5px 10px no-repeat;
}
.icons-link2:hover {
    background: url(../imgs/ic_forum@1X.png) 0 10px no-repeat;
}
.icons-link3:hover {
    background: url(../imgs/ic_caledar@1X.png) 0 11px no-repeat;
}
.content {
    width: 435px;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 5px;
    transform: translateY(calc((92vh - 584px ) / 2));
    /*position: fixed;*/
    /*top: 14%;*/
    /*left: 35.5%;*/
}
.content-area {
    width: 325px;
    margin: 0 auto;
    padding: 25px 0 0 0;
}
.content-title {
    text-transform: capitalize;
    font-size: 20px;
    float: left;
    position: relative;
}
.content-title:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3cb878;
    /* float: left; */
    right: 116px;
    position: absolute;
    display: inline-block;
}
.content-log {
    float: right;
    font-size: 14px;
    margin-top: 3px;
    color: limegreen;
}
.content-log:hover {
    text-decoration: underline;
}
.content-form {
    width: 325px;
    margin: 0 auto;
}
.facebook-but {
    width: 48%;
    padding: 15px 11px;
    background: #305db8;
    float: left;
    border-radius: 5px;
    border: none;
}
.fb-icon {
    position: relative;
    left: 15px;
    border-right: 1px solid grey;
    padding-right: 10px;
}
.facebook-but:hover {
    background: #264b96;
}

.google-but {
    width: 48%;
    padding: 17px 12px;
    background: #df4a32;
    float: right;
    border-radius: 5px;
    border: none;
}
.gg-icon {
    display: inline-block;
    position: relative;
    left: 12px;
    top: 1px;
    border-right: 1px solid grey;
    padding-right: 10px;
}
.google-but:hover {
    background: #c3412c;
}
.but-text {
    color: white;
    font-size: 16px;
    margin-left: 39px;
    position: relative;
    right: 10px;
    bottom: 2px;
}
.form-text {
    text-align: center;
    color: grey;
    margin: 25px 0 20px;
    font-size: 14px;
    display: inline-block;

}
.form-text:before {
    content: '';
    display: inline-block;
    width: 140px;
    box-sizing: border-box;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
    border: 1px solid #eaeaea;
}
.form-text:after {
    text-align: center;
    content: '';
    display: inline-block;
    width: 140px;
    box-sizing: border-box;
    margin-left: 15px;
    position: relative;
    bottom: 3px;
    border: 1px solid #eaeaea;
}
/*#form-textarea {*/
/*    font-size: 14px;*/
/*    font-family: Verdana,sans-serif;*/
/*    color: #000;*/
/*    width: 90%;*/
/*    border: 1px solid #eaeaea;*/
/*    resize: none;*/
/*    padding: 16px;*/
/*    line-height: 0.6;*/
/*    text-align: left;*/
/*    border-radius: 3px;*/
/*}*/
/*#form-textarea:hover {*/
/*    box-shadow: 2px 4px 5px #eaeaea;*/
/*}*/
.form-input {
    font-family: Verdana,sans-serif;
    margin: 5px 0;
    font-size: 14px;
    width: 90%;
    border: 1px solid #eaeaea;
    padding: 16px;
    text-align: left;
    border-radius: 3px;
}
.form-input:focus {
    box-shadow: 4px 6px 4px #eaeaea;
}
.first-child {
    margin-top: 10px;
}
#checkbox {
    transform: scale(1.5);
    position: relative;
    top: 1px;
    display: inline-block;
    margin-left: 5px;
}
#checkbox:before {
    content: url("../imgs/checkbox.png");
    position: relative;
    bottom: 0.9px;
    right: 23.4px;
    transform: scale(1.5);
    visibility: hidden;
}

input[type="checkbox"]:checked + label::before {
    /*content: url("../imgs/checkbox.png");*/
    position: relative;
    bottom: 0.9px;
    right: 23.4px;
    transform: scale(1.5);
}
input[type="checkbox" i]{
    margin: 0;
}
.checkbox-container {
    margin: 15px 0;
}
label {
    font-size: 14px;
}
.checkbox-link {
    color: limegreen;
    text-transform: capitalize;
}
.checkbox-link:hover {
    text-decoration: underline;
}
.button-foot {
    background: green;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    padding: 15px;
    border: none;
    margin: 10px 0 20px;
}
.button-foot:hover {
    background: #329a65;
}





.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

