html {
    background-color: white;
    width: 1200px;
    position: absolute;
    top: 30px;
    right: 50px;
    left: 50px;
    bottom: 20px;
    font-family: sans-serif;
}
h1 {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    color: black;
    font-size: 70px;
}
body {
    margin-left: 200px;
}
span {
    color: aqua;
}
.high-content {
    background-color: #3c4a45;
    width: 1170px;
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    margin-bottom: 30px;
    display: inline-block;
}
.nav-name {
    color: white;
    margin: 70px 85px 70px 0;
    font-size: 20px;
}
.nav-name1 {
    margin-right: 80px;
    margin-left: 100px;
}
.nav-name2 {
    margin-right: 80px;
    margin-left: 0;
}
.nav-name3 {
     margin-right: 80px;
     margin-left: 0;
 }
.nav-name4 {
    margin-right: 100px;
    margin-left: 0;
}
.vertical-menu {
    display: inline-block;
    margin-left: 0;
    border: 2px solid #7b7c7b;
    font-size: 25px;
    margin-right: 40px;
    vertical-align: top;
}
.nav-vertical {
    display: block;
    padding: 30px 50px 30px 50px;
    color: #6f6f6f;
}
/*.nav-ver2 {
    background-color: lightgrey;
    color: #222222;
}*/
.picture {
    display: inline-block;
    border: 2px solid #7b7c7b;
    vertical-align: top;
    padding: 75px 253px;
}
.picture-content {


}
.picture-text {
    margin: 50px 25px 50px 360px;
    font-size: 18px;
}
.picture-text-content {
    margin-top: 30px;
}
.foot-area {
    background-color: lightgrey;
    width: 1170px;
    text-align: left;
    margin-top: 30px;
    padding: 15px 0;
    margin-bottom: 30px;
    display: inline-block;
}
.foot-links {
    color: black;
    margin-left: 30px;
    font-size: 25px;
}
.copyright {
    font-size: 20px;
    margin-left: 120px;
    font-weight: bold;
}
.container {
    width: 1170px;
    margin: 0 auto;
}