.body-content {
    font-family: adobe-heiti-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
table {
    border: 25px solid #3a4965;
    border-collapse: collapse;
    font-family: adobe-heiti-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
thead,
tfoot,
tbody{
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
}
tr {
    height: 70px;
}
td {
    width: 310px;
    border-right: 3px solid #d7d7d7;
    /*border: 2px solid #d7d7d7;*/
    /*box-shadow: #d7d7d7;*/
    /*box-shadow: 0 0 2px rgba(0,0,0,0.5);*/
}
.footer-bottoms {
    height: 110px;
}
.header {
    height: 90px;
}
.pricing-text {
    font-size: 18px;
}
.pricing-text-2 {
    font-size: 30px;
    font-weight: bolder;
}
.pricing-type {
    color: white;
    border-right: none;
}
.standard {
    font-size: 24px;
    background-color: #89c331;
}
.ultimate {
    font-size: 30px;
    background-color: #f04a56;
}
.premium {
    font-size: 24px;
    background-color: #20807c;
}
.prices {
    font-size: 60px;
    font-weight: bold;
}
sup {
    font-size: 24px;
    right: 91px;
    bottom: 3px;
    position: relative;
}
sub {
    bottom: 12px;
    font-weight: normal;
    position: relative;
    font-size: 18px;
}
.fas {
    color: rgba(132, 132, 132, 255);
    font-size: 24px;
    margin-right: 12px;
}
button {
    color: white;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.05);
    border-bottom: 5px solid rgba(0,0,0,0.1);
    text-transform: uppercase;
    /*font-weight: bolder;*/
    font-size: 16px;
}
.button1 {
    background: #484848;
}
.button1:hover {
    background: rgba(0,0,0,0.1);
}
.button2 {
    background: #89c331;
}
.button2:hover {
    background: rgba(0,0,0,0.1);
}
.button3 {
    background: #f04a56;
}
.button3:hover {
    background: rgba(0,0,0,0.1);
}
.button4 {
    background: #20807c;
}
.button4:hover {
    background: rgba(0,0,0,0.1);
}
body .cell-color {
    background-color: #f2f2f2;
}
body .cell-color:nth-child(2n) {
    background-color: #e3e3e3;
}
tfoot td:first-child {
    background-color: #dddddd;
}





