body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    letter-spacing:.15em;
    background: #000 center center repeat;
}
#scroller {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: gold;
    transform: perspective(200px) rotateX(30deg);
}
h1,
h2 {
    text-align: center;
}

#scroller div {
    position: absolute;
    top: 100%;
    animation: scroller 70s linear infinite;
}

#scroller p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing:.15em;
}
@keyframes scroller {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
