html {
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.80) inset;
    height: 100%;
}
.context {
    width: 1366px;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
.container {
    width: 870px;
    margin: 0 auto;
    padding: 25px 0;
}
.top-section {
    float: left;
}
.common-class-header {
    background: url("../img/white-logo.png") no-repeat;
    display: inline-block;
}
.header-text {
    display: inline-block;
    margin-left: 61px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
 }
.header-text-below {
      font-size: 18px;
  }
.common-class-header:hover .header-text {
    color: #f26522;
 }
.common-class-header:hover {
    background: url("../img/logo.png") no-repeat;
}
.contacts {
    font-size: 18px;
    float: right;
    color: white;
    display: inline-block;
    position: relative;
    left: 28.5%;
}
.contacts-details {
    margin-right: -79px;
    margin-top: 10px;
}
.phone-number {
    text-align: right;
}
.main-content {
    width: 933px;
    vertical-align: top;
}
.main-content-phs {
    width: 307px;
    height: 200px;
    display: inline-block;
    text-align: center;
    color: white;
    float: left;
    margin-bottom: 100px;
    transition: all 0.4s;
    position: relative;
}
.ph1 {
    height: 200px;
}
.aaa {
    visibility: hidden;
}
.main-content-phs:hover .aaa {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    background: #f26522;
    width: 100%;
    line-height: 5;
    transition: 2s;
    position: absolute;
    bottom: 0;
    visibility: visible;
  }
.main-content-phs:hover .main-content-text {
    color: #f26522;
}
.hover-text {
    width: 100%;
    overflow: hidden;
    text-align: right;
}
.hover-left {
    float: left;
    margin-left: 20px;
    position: relative;
    top: 5px;
}
.hover-left::before {
    content: 'from';
    text-transform: lowercase;
    position: relative;
    bottom: 13px;
    left: 25px;
    font-size: 10px;
}
#text1 {
    padding-right: 25px;
}
#text2 {
    padding-right: 25px;
}
#text3 {
    padding-right: 25px;
}
#text4 {
    padding-right: 25px;
}
#text5 {
    padding-right: 25px;
}
#text6 {
    padding-right: 25px;
}
.hover-text:after {
    content: url("../img/Arrow.png");
    position: relative;
    right: 15px;
}
.mcp-rel {
    position: relative;
    left: 130px;
}
.main-content-text {
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
}
.main-content-text:hover {
    color: #f26522;
}
.mcp-rel:hover .aaa {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    background: #f26522;
    width: 100.5%;
    line-height: 5;
    transition: 2s;
    position: absolute;
    bottom: -2px;
    visibility: visible;
}
.contacts:hover .aaa {
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    background: #f26522;
    width: 100.1%;
    line-height: 5;
    transition: 2s;
    position: absolute;
    bottom: -2px;
    visibility: visible;
}
footer {
    margin: -29px 0 20px 0;
    text-align: center;
    color: white;
    position: relative;
    display: inline-block;
    left: 44.5%;
}







.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




/*  position: relative;
    left: 28.5%; */